{% extends "::base.html.twig" %}

{% block title %}MuzFront::index{% endblock %}

{% block body %}


    <div class="col-md-8">

        <h2 class="page-header">Welcome to the MuzFront project!</h2>

        <div id="dynamicContent" class="table-responsive">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Artist</th>
                    <th>Song</th>
                    <th>Genre</th>
                    <th>Year</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </div>

    <div class="col-md-4">
        <h2 class="page-header">Filter</h2>

    </div>


{% endblock %}
