{% extends "::base.html.twig" %}

{% block title %}MuzFront::index{% endblock %}

{% block body %}


    <div class="col-md-8">

        <h2 class="page-header">Welcome to the MuzFront project!</h2>

        <div id="dynamicContent">
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Artist</th>
                    <th>Song</th>
                    <th>Genre</th>
                    <th>Year</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    <li>
                        {#<a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>#}
                    </li>
                    <li>
                        {#<a href="#">0</a>#}
                    </li>
                    <li>
                        {#<a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>#}
                    </li>
                </ul>
            </nav>
        </div>

    </div>

    <div class="col-md-4">
        <h2 class="page-header">Filter</h2>

    </div>


{% endblock %}
