{% extends "::base.html.twig" %}

{% block title %}MuzFront::index{% endblock %}

{% block body %}


    <div class="col-md-8">

        <h2 class="page-header">Welcome to the Catalog:index page</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Artist</th>
                    <th>Song</th>
                    <th>Genre</th>
                    <th>Year</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1,001</td>
                    <td>Lorem</td>
                    <td>ipsum</td>
                    <td>dolor</td>
                    <td>sit</td>
                </tr>
                <tr>
                    <td>1,002</td>
                    <td>amet</td>
                    <td>consectetur</td>
                    <td>adipiscing</td>
                    <td>elit</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4">
        <h2 class="page-header">Filter</h2>

    </div>


{% endblock %}
